@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

* {
  box-sizing: border-box;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #f0f0f0;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

.todo-item.done {
  text-decoration: line-through;
  opacity: 0.6;
}

.container {
  max-width: 800px;
  margin: 2rem auto;
}


button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button.delete {
  color: red;
  margin-left: 1rem;
}